<template name="layout_header">
    <nav>
        <ul>
            <li>
                <p><h1><strong>iron</strong> Bank Network</h1></p>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp; 
            <li class="block-info dapp-flex-item  {{#if TemplateVar.get 'syncing'}}syncing{{/if}}">
                {{#if isWalletMode}}

                    {{#with TemplateVar.get "syncing"}}
                        <span class="text">
                            <img src="https://png.icons8.com/office/16/000000/electrical.png">
                            &nbsp;   
                            {{$.Session.get "peerCount"}} 
                            <span class="hide-on-small">{{i18n 'wallet.app.texts.peers'}}</span>
                            <br>
                            <img src="https://png.icons8.com/office/16/000000/minecraft-pickaxe.png">&nbsp;
                            {{i18n "wallet.app.texts.nodeSyncing" blockDiff=blockDiff}}
                            <br>
                            {{progress}}%
                        </span>
                        <progress max="100" value="{{progress}}"></progress>
                    {{else}}
                        <img src="https://png.icons8.com/office/16/000000/electrical.png">
                        &nbsp;                        
                        {{$.Session.get "peerCount"}} <span class="hide-on-small">{{i18n 'wallet.app.texts.peers'}}</span>
                        <br>
                        <img src="https://png.icons8.com/office/16/000000/minecraft-pickaxe.png">
                        &nbsp;{{formattedBlockNumber}}<span class="hide-on-small">&nbsp;iron blocks</span>
                        <br>
                        {{{timeSinceBlock}}}&nbsp;<span class="hide-on-small">{{{timeSinceBlockText}}}</span>
                    {{/with}}
                {{/if}}
            </li>
            <li>
                <a href="{{pathFor route='dashboard'}}" class="{{isActiveRoute regex='dashboard'}}">
                    <img src="https://png.icons8.com/cotton/50/000000/electronic-identity-card.png">
                    <span>{{i18n 'wallet.app.buttons.wallet'}}</span>
                </a>
            </li>
            <li>
                <a href="{{goToSend}}" class="{{isActiveRoute regex='send'}}">
                    <img src="https://png.icons8.com/cotton/50/000000/card-exchange.png">
                    <span>{{i18n 'wallet.app.buttons.send'}}</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='contracts'}}" class="{{isActiveRoute regex='contracts'}}">
                    <img src="https://png.icons8.com/cotton/50/000000/small-business.png">
                    <span>{{i18n 'wallet.app.buttons.contracts'}}</span>
                </a>
            </li>
            <li class="wallet-balance">
                <h3>{{i18n 'wallet.app.texts.balance'}}</h3>
                {{> elements_balance balance=totalBalance changeUnit=true}}
            </li> 
            </ul>
    </nav>
</template>