<template name="views_contracts">
    <div class="dapp-container">

        <h1><strong>Agreements</strong></h1>

        <p>To interact with an agreement you may know its  <strong>address</strong>, <strong>name</strong> and <strong>json interface</strong>. Remember, during development stages only local agreements are available.<br> You can deploy your own agreements using either Remix or Metamask. Many of them are available at  <strong>ironbank.network/agreements</strong></p>
        <br><br>

        <div class="dapp-clear-fix"></div>

        <div class="wallet-box-list">
        {{#each customContracts}}
            {{> elements_account account=_id isContract=true}}
        {{/each}}
        </div>

        <button class="wallet-box create add-contract">
            <div class="account-pattern">
                +
            </div>
            <h3>{{i18n "wallet.contracts.addCustomContract"}}</h3>
        </button>  
        <div class="dapp-clear-fix"></div>


        <br><br>

    </div>
</template>